<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>Blog Details</h2>
      </div>
      <div class="blog">
        <div class="article-list">
          <div class="row row-1 cols-3">
            <div class="col-lg-12" *ngFor="let item of [1]">
              <div class="mb-3">
                <img class="img-fluid" src="https://www.nicepng.com/png/full/273-2732534_audi-r8-audi-banner-ad.png" alt="" />
              </div>
              <div>
                <h4 class="mb-3">Blog Title</h4>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but majority have suffered alteration in some form,
                  by injected humour, or randomised words which don't look even
                  slightly believable. If you are going to use a passage of
                  Lorem Ipsum. There are many variations of passages of Lorem
                  Ipsum available, but majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum. Suspendisse ultricies vestibulum vehicula. Proin
                  laoreet porttitor lacus. Duis auctor vel ex eu elementum.
                  Fusce eu volutpat felis. Proin sed eros tincidunt, sagittis
                  sapien eu, porta diam. Aenean finibus scelerisque nulla non
                  facilisis. Fusce vel orci sed quam gravida condimentum.
                  Aliquam condimentum, massa vel mollis volutpat, erat sem
                  pharetra quam, ac mattis arcu elit non massa. Nam mollis nunc
                  velit, vel varius arcu fringilla tristique. Cras elit nunc,
                  sagittis eu bibendum eu, ultrices placerat sem. Praesent vitae
                  metus dolor. Nulla a erat et orci mattis auctor.
                </p>
                <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but majority have suffered alteration in some form,
                    by injected humour, or randomised words which don't look even
                    slightly believable. If you are going to use a passage of
                    Lorem Ipsum. There are many variations of passages of Lorem
                    Ipsum available, but majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't look
                    even slightly believable. If you are going to use a passage of
                    Lorem Ipsum. Suspendisse ultricies vestibulum vehicula. Proin
                    laoreet porttitor lacus. Duis auctor vel ex eu elementum.
                    Fusce eu volutpat felis. Proin sed eros tincidunt, sagittis
                    sapien eu, porta diam. Aenean finibus scelerisque nulla non
                    facilisis. Fusce vel orci sed quam gravida condimentum.
                    Aliquam condimentum, massa vel mollis volutpat, erat sem
                    pharetra quam, ac mattis arcu elit non massa. Nam mollis nunc
                    velit, vel varius arcu fringilla tristique. Cras elit nunc,
                    sagittis eu bibendum eu, ultrices placerat sem. Praesent vitae
                    metus dolor. Nulla a erat et orci mattis auctor.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
