<section class="astroid-section astroid-component-section m-y" id="cs-1528971561366">
    <div class="astroid-row row no-gutters" id="ar-1528971561366">
        <div class="astroid-column col-lg-6 col-lg-12" id="ac-511555906566780">
            <div class="astroid-message" id="am-711555907090073">
                <div id="system-message-container">
                </div>
            </div>
            <div class="astroid-component" id="ca-1121555907157112">
                <div class="astroid-component-area">

                    <div id="sp-page-builder" class="sp-page-builder  page-2">


                        <div class="page-content">
                            <section id="section-id-1595665108962" class="sppb-section sppb-section-content-center">
                                <div class="sppb-row-container">
                                    <div class="sppb-row sppb-align-center">
                                        <div class="sppb-col-md-12" id="column-wrap-id-1595665108961">
                                            <div id="column-id-1595665108961" class="sppb-column">
                                                <div class="sppb-column-addons">
                                                    <div id="sppb-addon-wrapper-1595665108994"
                                                        class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1595665108994" class="clearfix ">
                                                            <div class="sppb-addon sppb-addon-text-block  ">
                                                                <h1 class="sppb-addon-title">Hi This is a gallery component
                                                                    Ia.</h1>
                                                                <div class="sppb-addon-content"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>