<div class="astroid-container">
  <app-header></app-header>
  <div class="astroid-content has-sidebar sidebar-dir-left">
    <!-- astroid layout -->
    <div class="astroid-layout astroid-layout-wide">
        <!-- astroid wrapper -->

        <div class="astroid-wrapper">
            <section class="astroid-section border-bottom top-bar" id="ts-531555558345677">
                <div class="container">
                    <div class="astroid-row row" id="ar-151555558345677">
                        <div class="astroid-column col-lg-12" id="ac-911555558345677">
                            <div class="astroid-module-position d-flex justify-content-end hideonxs hideonsm"
                                id="i-471555558453611">
                                <div class="astroid-contact-info">
                                    <span class="astroid-contact-address">
                                        <i class="fas fa-map-marker-alt"></i>
                                        1826 Locust Street, Bainbridge </span>



                                    <span class="astroid-contact-email">
                                        <i class="far fa-envelope"></i>
                                        <a href="mailto:support@templaza.com">support@templaza.com</a>
                                    </span>

                                </div>
                                <div class="jollyany-login">
                                    <a href="#jollyany-login-content" class="jollyany-login-icon" uk-toggle=""
                                        aria-expanded="false"><i class="fas fa-user mr-1"></i> Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<router-outlet></router-outlet>

          
        </div>

    </div>
</div>
</div>