<main id="main">
    <section id="about" class="about contact">
      <div class="container">
        <div class="section-title">
          <h2>Best Foods</h2>
        </div>
        
        <div class="blog">
          <div class="article-list">
            <a [routerLink]="['/comments']" [queryParams]="{type: 'food'}" *ngIf="isUserLogin">View Comments</a>
            <div class="row row-1 cols-3" *ngIf="restaurantList">

          

              <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form
                  [formGroup]="restaurantFilter"
                  (ngSubmit)="filter(restaurantFilter)"
                  role="form"
                  class="php-email-form"
                >
                  <div class="row">
                      <div class="form-group col-md-4">
                          <label for="name">Restaurant Name</label>
                          <input
                          placeholder="Enter the Restaurant Name"
                            type="text"
                            name="title"
                            class="form-control"
                            id="title"
                            required=""
                            formControlName="restaurant_name"
                           
                            list="browsers"
                          />
                          <datalist id="browsers">
                            <option value="{{ item.attributes.restaurant_name }}" *ngFor="let item of restaurantList">{{ item.attributes.restaurant_name }}</option>
                          </datalist>
                        </div>
                   
    

                    <div class="form-group col-md-4">
                      <label for="name">Restaurant Type</label>
                      <select    formControlName="restaurant_type" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option disabled [ngValue]="null">Select Type</option>
                        <option *ngFor="let item of typeArray" [ngValue]="item">
                          {{item}}</option>
                      </select>
                    </div>
                
                  <div class="form-group col-md-4">
                    <label for="name"> Rating </label>

                    <select placeholder="Select" formControlName="restaurant_rating" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option disabled [ngValue]="null">Select Star rating</option>
                      <option *ngFor="let item of starRatings" [ngValue]="item.value">
                        {{item.key}}
                      </option>

                    </select>

                  
                  </div>
                  <div class="form-group mt-31 col-md-4">
                    <label for="name">  </label>
                    <button type="submit" >Search</button>
                  </div>
              
                  </div>
                </form>
              </div>
             <div *ngIf="restaurantList && restaurantList.length==0">
              <h2 class="text-center">Sorry no movie found</h2>
             </div>
              <div class="col-lg-6" *ngFor="let item of restaurantList">
                <div
                  class="article"
                  itemprop="blogPost"
                  itemscope=""
                  itemtype="https://schema.org/BlogPosting"
                >
                  <div class="blog-one__img">
                    <div class="article-intro-image float-left">
                      <a [routerLink]="['/foods/', item.attributes.slug]"
                        ><img
                        class="img-fluid"
                          src="{{ item.attributes.restaurant_image.data.attributes.url }}"
                          alt=""
                      /></a>
                    </div>
  
                    <a [routerLink]="['/foods/{{item.attributes.slug}}']">
                      <span class="blog-one__plus"></span>
                    </a>
                  </div>
  
                  <div class="article-body">
                    <div class="article-info">
                      <!-- <span class="published" title="Published: 26 March 2022"
                        ><i class="far fa-clock"></i>
                        <time datetime="2022-03-26T03:27:42+00:00">
                          {{ item.attributes.release_date | date }}
                        </time>
                      </span>
                      <span class="createdby" title="Written by: Windstripe"
                      ><i class="far fa-user-circle"></i>
                      <span itemprop="name">{{
                        item?.attributes?.location
                      }}</span>
                
                    </span> -->
                    <app-star-rating [rating]="item?.attributes?.restaurant_rating"></app-star-rating>
                    <span class="category-name" title="Category: Technology">
                      
                      {{ item?.attributes?.restaurant_type }}
                    </span>
                    </div>
  
                    <div class="article-header">
                      <h4>
                        <a [routerLink]="['/foods/', item.attributes.slug]">
                          {{ item.attributes.restaurant_name }}
                        </a>
                      </h4>
                    </div>
  
                    <div class="article-introtext">
                      <!-- {{ item.attributes?.review_description }} -->
                      {{trimDescription(item.attributes.restaurant_description)}}
  
                      <div class="readmore">
                        <a [routerLink]="['/foods/', item.attributes.slug]">
                          Learn more
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  