<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>Events</h2>
      </div>
      <div class="blog">
        <div class="article-list">
          <div class="row row-1 cols-3" *ngIf="eventList">
            <div class="col-lg-12">
              <div class="row g-0 article-content position-relative mb-3"  *ngFor="let item of eventList">
                <div class="col-md-6 mb-md-0 p-md-4">
                  <img  src="{{ item.attributes?.event_image?.data.attributes.url }}" class="w-100" alt="...">
                  <div class="event-status">{{isUpcomingEvent(item)}}</div>
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                  <h3 class="mb-3 text-brand"> {{ item.attributes.name }}</h3>
                  <p class="small">
                    <i class="bi bi-geo-alt text-brand me-2"></i>{{ item.attributes.location }}
                    <i class=" ms-5 me-2 bi bi-calendar-check-fill text-brand"></i>{{ item.attributes.event_date | date}} -{{ item.attributes.event_expire | date}}
                  </p>
                  <p>
                    {{trimDescription(item.attributes?.description)}}
                  </p>
                  <a href="#">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>