<main id="main">
    <section id="about" class="about contact">
      <div class="container">
        <div class="section-title">
          <h2>Movies</h2>
        </div>
        
        <div class="blog">
          <div class="article-list">
            <div class="row row-1 cols-3" *ngIf="movieList">

          

              <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form
                  [formGroup]="movieFilter"
                  (ngSubmit)="filter(movieFilter)"
                  role="form"
                  class="php-email-form"
                >
                  <div class="row">
                      <div class="form-group col-md-4">
                          <label for="name">Title</label>
                          <input
                          placeholder="Enter the Title"
                            type="text"
                            name="title"
                            class="form-control"
                            id="title"
                            required=""
                            formControlName="title"
                            [ngClass]="{'is-invalid': form?.['title']?.touched && form?.['title']?.invalid}"
                            list="browsers"
                          />
                          <datalist id="browsers">
                            <option value="{{ item.attributes.title }}" *ngFor="let item of movieList">{{ item.attributes.title }}</option>
                          </datalist>
                        </div>
                   
                    <div class="form-group col-md-4">
                      <label for="name">Rating</label>
                      <select formControlName="rating" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option disabled [ngValue]="null">Select State</option>
                        <option *ngFor="let item of ratingArray" [ngValue]="item">
                          {{item}}</option>
                      </select>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="name">Type</label>
                      <select    formControlName="type" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option disabled [ngValue]="null">Select State</option>
                        <option *ngFor="let item of typeArray" [ngValue]="item">
                          {{item}}</option>
                      </select>
                    </div>
                  <div class="form-group col-md-4">
                    <label for="name">Release Date</label>
                    <input
                      type="date"
                      class="form-control"
                      name="release_date"
                      id="release_date"
                      required=""
                      formControlName="release_date"
                      [ngClass]="{'is-invalid': form?.['release_date']?.touched && form?.['release_date']?.invalid}"
                    />
                  
                  </div>


                  <div class="form-group col-md-4">
                    <label for="name"> star_rating </label>

                    <select placeholder="Select" formControlName="star_rating" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option disabled [ngValue]="null">Select Star rating</option>
                      <option *ngFor="let item of starRatings" [ngValue]="item.value">
                        {{item.key}}
                      </option>

                    </select>

                  
                  </div>
                  <div class="form-group mt-31 col-md-4">
                    <label for="name">  </label>
                    <button type="submit" >Search</button>
                  </div>
              
                  </div>
                </form>
              </div>
             <div *ngIf="movieList && movieList.length==0">
              <h2 class="text-center">Sorry no movie found</h2>
             </div>
              <div class="col-lg-6" *ngFor="let item of movieList">
                <div
                  class="article"
                  itemprop="blogPost"
                  itemscope=""
                  itemtype="https://schema.org/BlogPosting"
                >
                  <div class="blog-one__img">
                    <div class="article-intro-image float-left">
                      <a [routerLink]="['/movie/', item.attributes.slug]"
                        ><img
                        class="img-fluid"
                          src="{{ item.attributes.poster_image.data.attributes.url }}"
                          alt=""
                      /></a>
                    </div>
  
                    <a [routerLink]="['/movie/{{item.attributes.slug}}']">
                      <span class="blog-one__plus"></span>
                    </a>
                  </div>
  
                  <div class="article-body">
                    <div class="article-info">
                      <span class="published" title="Published: 26 March 2022"
                        ><i class="far fa-clock"></i>
                        <time datetime="2022-03-26T03:27:42+00:00">
                          {{ item.attributes.release_date | date }}
                        </time>
                      </span>
                      <span class="createdby" title="Written by: Windstripe"
                      ><i class="far fa-user-circle"></i>
                      <span itemprop="name">{{
                        item?.attributes?.location
                      }}</span>
                     <app-star-rating [rating]="item?.attributes?.star_rating"></app-star-rating>
                    </span>

                    <span class="category-name" title="Category: Technology">
                      <!-- {{isUpcomingEvent(item)}} -->
                      {{ item?.attributes?.type }}
                    </span>
                    </div>
  
                    <div class="article-header">
                      <h4>
                        <a [routerLink]="['/movie/', item.attributes.slug]">
                          {{ item.attributes.title }}
                        </a>
                      </h4>
                    </div>
  
                    <div class="article-introtext">
                      <!-- {{ item.attributes?.review_description }} -->
                      {{trimDescription(item.attributes.short_description)}}
  
                      <div class="readmore">
                        <a [routerLink]="['/movie/', item.attributes.slug]">
                          Learn more
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  