<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>Blogs Post</h2>
      </div>
      <div class="blog">
        <div class="article-list">
          <div class="row row-1 cols-3" *ngIf="blogList">
            <div class="col-lg-6" *ngFor="let item of blogList">
              <div
                class="article"
                itemprop="blogPost"
                itemscope=""
                itemtype="https://schema.org/BlogPosting"
              >
                <div class="blog-one__img">
                  <div class="article-intro-image float-left">
                    <a [routerLink]="['/blogs/', item.attributes.slug]"
                      ><img
                        src="{{ item.attributes.image.data.attributes.url }}"
                        alt=""
                    /></a>
                  </div>

                  <a [routerLink]="['/blogs/{{item.attributes.slug}}']">
                    <span class="blog-one__plus"></span>
                  </a>
                </div>

                <div class="article-body">
                  <div class="article-info">
                    <span class="published" title="Published: 26 March 2022"
                      ><i class="far fa-clock"></i>
                      <time datetime="2022-03-26T03:27:42+00:00">
                        {{ item.attributes.publishedAt | date }}
                      </time>
                    </span>

                    <span class="createdby" title="Written by: Windstripe"
                      ><i class="far fa-user-circle"></i>
                      <span itemprop="name">{{
                        item?.attributes?.author?.data?.attributes?.username
                      }}</span>
                    </span>

                    <span class="category-name" title="Category: Technology">
                      Technology
                    </span>
                  </div>

                  <div class="article-header">
                    <h4>
                      <a [routerLink]="['/blogs/{{item.attributes.slug}}']">
                        {{ item.attributes.title }}
                      </a>
                    </h4>
                  </div>

                  <div class="article-introtext">
                    {{ item.attributes.description }}

                    <div class="readmore">
                      <a [routerLink]="['/blogs/{{item.attributes.slug}}']">
                        Learn more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
